# macOS system files
.DS_Store
.DS_Store?
.vscode/
# Environment variables
.env
config.js
# Node modules
node_modules/

# Image files
*.jpg
*.jpeg
# *.png
*.gif
*.webp
*.svg
*.ico
*.bmp
*.tiff
*.JPG
*.JPEG
*.PNG
*.GIF
*.WEBP
*.SVG
*.ICO
*.BMP
*.TIFF

