body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #ffffff;
  color: rgb(0, 97, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 1000;
  font-size: 1.5rem;
}

.header a.nav-link {
  text-decoration: none;
  color: rgb(0, 97, 0);
}

nav {
  padding-right: 2rem;
}

nav a {
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  color: rgb(0, 97, 0);
}


.parent-vine {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.project {
  width: 200px;
  height: 200px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 10px 0;
}

.project img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Vine SVG Connections */
#vine-container {
  display: flex;
  /* flex-direction:column; */
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  height: 100vh;
  position: relative;
  background-color: #f3f3f3;
  padding: 20px;
}

#vine-line {
  display: flex;
  flex-direction: row;
  gap: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

#vine-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* pointer-events: none; */
  z-index: 2;
}

/* .year-section {
  flex: 0 0 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  scroll-snap-align: start;
  position: relative;
  height: 40px;
  z-index: 1;
  pointer-events:none;
} */
.year-section {
  flex: 0 0 100vw; 
  height: 100%;
  border:1px solid pink;
  box-sizing:border-box;
  position: relative;
  scroll-snap-align: start;

}

#nav-buttons {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

button {
  background-color: #016e35;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #005f99;
}

#year-display {
  /* position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%); */
  font-size: 4rem;
  color: rgba(0, 0, 0, 0.8);
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}

.content {
  margin-top: 6rem;
  margin-left: 6rem;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-image {
  width: 30%;
  margin-right: 2%;
}

.about-image img {
  width: 100%;
}

.about-text {
  width: 68%;
  padding-bottom: 8rem;
}

/* Modal Styles */
#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.hidden {
  display: none;
}

#modal-content {
  background: white;
  border-radius: 10px;
  padding: 20px;
  width: 90%;
  height: 90vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#modal-columns {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

#modal-column-left,
#modal-column-right {
  flex: 1;
  overflow-y: auto;
  margin: 0 10px;
}

#related-projects {
  margin-top: 20px;
  text-align: left;
  min-height: 50vh;
}

#gallery img {
  margin: 10px;
  max-width: 100px;
  max-height: 100px;
}

#related-projects li {
  list-style: none;
  margin: 5px 0;
}